.slide-gallery-group {
  background: #eae6db;
}
.slide-gallery-images {
  width: 80%;
  max-width: 1200px;
  margin: 80px auto 100px;
  position: relative;
}

.image-gallery-left-nav.slide-gallery-previous-control {
  margin-left: -1em;
}

.image-gallery-right-nav.slide-gallery-next-control {
  margin-right: -1em;
}

.image-gallery-left-nav.slide-gallery-previous-control::before,
.image-gallery-right-nav.slide-gallery-next-control::before {
  color: #6e180b;
  text-shadow: 1px 1px 5px #a97e74;
}

.image-gallery-left-nav.slide-gallery-previous-control:hover,
.image-gallery-right-nav.slide-gallery-next-control:hover {
  font-size: 5.1em;
}

.image-gallery-bullets .image-gallery-bullet.slide-gallery-bullet {
  border-radius: 0;
  border: 1px solid #eae6db;
}

.image-gallery-bullets .image-gallery-bullet.slide-gallery-bullet.active {
  background: #eae6db;
  padding: 6px;
}

.image-gallery-play-button.slide-gallery-play::before,
.image-gallery-fullscreen-button.slide-gallery-fullscreen::before {
  color: #eae6db;
}

/* Responsive Style Sheet */
@media screen and (min-width: 320px) {
  .slide-gallery-images {
    width: 95%;
  }

  .image-gallery-left-nav.slide-gallery-previous-control,
  .image-gallery-right-nav.slide-gallery-next-control {
    display: none;
  }

  .image-gallery-bullets .image-gallery-bullet.slide-gallery-bullet.active {
    background: #eae6db;
    padding: 4px;
  }
}

/* iphone x landscape specifically */
@media screen and (height: 375px) {
  .image-gallery-play-button.slide-gallery-play,
  .image-gallery-fullscreen-button.slide-gallery-fullscreen {
    bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .slide-gallery-images {
    width: 80%;
  }

  .image-gallery-left-nav.slide-gallery-previous-control,
  .image-gallery-right-nav.slide-gallery-next-control {
    display: block;
  }

  .image-gallery-left-nav.slide-gallery-previous-control:hover,
  .image-gallery-right-nav.slide-gallery-next-control:hover {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 768px) {
  .image-gallery-left-nav.slide-gallery-previous-control:hover,
  .image-gallery-right-nav.slide-gallery-next-control:hover {
    font-size: 5.1em;
  }

  .image-gallery-bullets .image-gallery-bullet.slide-gallery-bullet.active {
    background: #eae6db;
    padding: 6px;
  }
}
