.quote {
  background: rgb(067, 091, 013);
  color: #ffffff;
  position: relative;
  min-height: 50vh;
  z-index: 5;
}
.quote .content {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  font-size: 1.7em;
  line-height: 1.3em;
}
.quote .attribute {
  display: block;
  font-family: 'amblelight_condensed_italic', sans-serif;
  font-size: 0.8em;
}
