.info-panel-details {
  position: relative;

  /* needs to be above full screen parallax */
  z-index: 1;
}

/* needed for chrome z-index flicker where you can see background */
.info-panel-details.translate-z {
  transform: translateZ(1px);
}

.info-panel-olive {
  background: #aaa88f;
}

.info-panel-cream {
  background: #eae6db;
}

.info-panel-details h1,
.info-panel-details h2,
.info-panel-details h3,
.info-panel-details h4,
.info-panel-details p,
.info-panel-details strong,
.info-panel-details li {
  color: #000000;
}
