.panel-content {
  padding: 100px 0;
  border-top: none;
}

.content {
  margin: 0 auto;
  width: 960px;
}

/* full screen minus quote and padding  */
.full-vh {
  min-height: calc(100vh - 480px);
}

/* Responsive Style Sheet */
@media screen and (min-width: 320px) {
  .content {
    width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .content {
    width: 480px;
  }
}

@media screen and (min-width: 600px) {
  .content {
    width: 564px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    width: 1104px;
  }
}

@media screen and (min-width: 1500px) {
  .content {
    width: 1440px;
  }
}
