/* Font Faces */
@font-face {
  font-family: 'amblebold';
  src: url('./fonts/Amble-Bold-webfont.eot');
  src: url('./fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-Bold-webfont.woff') format('woff'),
    url('./fonts/Amble-Bold-webfont.ttf') format('truetype'),
    url('./fonts/Amble-Bold-webfont.svg#amblebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblebold_italic';
  src: url('./fonts/Amble-BoldItalic-webfont.eot');
  src: url('./fonts/Amble-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-BoldItalic-webfont.woff') format('woff'),
    url('./fonts/Amble-BoldItalic-webfont.ttf') format('truetype'),
    url('./fonts/Amble-BoldItalic-webfont.svg#amblebold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ambleitalic';
  src: url('./fonts/Amble-Italic-webfont.eot');
  src: url('./fonts/Amble-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-Italic-webfont.woff') format('woff'),
    url('./fonts/Amble-Italic-webfont.ttf') format('truetype'),
    url('./fonts/Amble-Italic-webfont.svg#ambleitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblelight';
  src: url('./fonts/Amble-Light-webfont.eot');
  src: url('./fonts/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-Light-webfont.woff') format('woff'),
    url('./fonts/Amble-Light-webfont.ttf') format('truetype'),
    url('./fonts/Amble-Light-webfont.svg#amblelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblelight_condensed';
  src: url('./fonts/Amble-LightCondensed-webfont.eot');
  src: url('./fonts/Amble-LightCondensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-LightCondensed-webfont.woff') format('woff'),
    url('./fonts/Amble-LightCondensed-webfont.ttf') format('truetype'),
    url('./fonts/Amble-LightCondensed-webfont.svg#amblelight_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblelight_condensed_italic';
  src: url('./fonts/Amble-LightCondensedItalic-webfont.eot');
  src: url('./fonts/Amble-LightCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-LightCondensedItalic-webfont.woff') format('woff'),
    url('./fonts/Amble-LightCondensedItalic-webfont.ttf') format('truetype'),
    url('./fonts/Amble-LightCondensedItalic-webfont.svg#amblelight_condensed_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblelight_italic';
  src: url('./fonts/Amble-LightItalic-webfont.eot');
  src: url('./fonts/Amble-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-LightItalic-webfont.woff') format('woff'),
    url('./fonts/Amble-LightItalic-webfont.ttf') format('truetype'),
    url('./fonts/Amble-LightItalic-webfont.svg#amblelight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ambleregular';
  src: url('./fonts/Amble-Regular-webfont.eot');
  src: url('./fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Amble-Regular-webfont.woff') format('woff'),
    url('./fonts/Amble-Regular-webfont.ttf') format('truetype'),
    url('./fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset and Defaults */
/* Reset - Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Micro Clearfix - Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
/* Clear */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* HTML5 Boilerplate: http://html5boilerplate.com/ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #37515a;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
::selection {
  background: #37515a;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid {
}
input:invalid,
textarea:invalid {
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* Body */
html,
body {
  height: 100%;
  position: relative;
}
body {
  font-family: 'amblelight_condensed', sans-serif;
  font-size: 100%;
  background: #ffffff;
  color: #ffffff;
}

/* Base 960 Grid for Browsers that Don't Support @media */
.fc {
  margin-left: 0 !important;
}
.lc {
  margin-right: 0 !important;
}
.cs1,
.cs2,
.cs3,
.cs4,
.cs5,
.cs6,
.cs7,
.cs8,
.cs9,
.cs10,
.cs11,
.cs12 {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
}
.cs1 {
  width: 40px;
}
.cs2 {
  width: 120px;
}
.cs3 {
  width: 200px;
}
.cs4 {
  width: 280px;
}
.cs5 {
  width: 360px;
}
.cs6 {
  width: 440px;
}
.cs7 {
  width: 520px;
}
.cs8 {
  width: 600px;
}
.cs9 {
  width: 680px;
}
.cs10 {
  width: 760px;
}
.cs11 {
  width: 840px;
}
.cs12 {
  width: 920px;
}
.cs2 .cs1,
.cs3 .cs1,
.cs4 .cs1,
.cs5 .cs1,
.cs6 .cs1,
.cs7 .cs1,
.cs8 .cs1,
.cs9 .cs1,
.cs10 .cs1,
.cs11 .cs1,
.cs12 .cs1 {
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs3 .cs2,
.cs4 .cs2,
.cs5 .cs2,
.cs6 .cs2,
.cs7 .cs2,
.cs8 .cs2,
.cs9 .cs2,
.cs10 .cs2,
.cs11 .cs2,
.cs12 .cs2 {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs4 .cs3,
.cs5 .cs3,
.cs6 .cs3,
.cs7 .cs3,
.cs8 .cs3,
.cs9 .cs3,
.cs10 .cs3,
.cs11 .cs3,
.cs12 .cs3 {
  width: 220px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs5 .cs4,
.cs6 .cs4,
.cs7 .cs4,
.cs8 .cs4,
.cs9 .cs4,
.cs10 .cs4,
.cs11 .cs4,
.cs12 .cs4 {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs6 .cs5,
.cs7 .cs5,
.cs8 .cs5,
.cs9 .cs5,
.cs10 .cs5,
.cs11 .cs5,
.cs12 .cs5 {
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs7 .cs6,
.cs8 .cs6,
.cs9 .cs6,
.cs10 .cs6,
.cs11 .cs6,
.cs12 .cs6 {
  width: 440px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs8 .cs7,
.cs9 .cs7,
.cs10 .cs7,
.cs11 .cs7,
.cs12 .cs7 {
  width: 520px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs9 .cs8,
.cs10 .cs8,
.cs11 .cs8,
.cs12 .cs8 {
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs10 .cs9,
.cs11 .cs9,
.cs12 .cs9 {
  width: 680px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs11 .cs10,
.cs12 .cs10 {
  width: 760px;
  margin-left: 20px;
  margin-right: 20px;
}
.cs12 .cs11 {
  width: 840px;
  margin-left: 20px;
  margin-right: 20px;
}

/* CSS3 Columns */
.c2 {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
.c3 {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
.c4 {
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
.c5 {
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
}
.c6 {
  -webkit-column-count: 6;
  -webkit-column-gap: 20px;
  -moz-column-count: 6;
  -moz-column-gap: 20px;
  column-count: 6;
  column-gap: 20px;
}
.c7 {
  -webkit-column-count: 7;
  -webkit-column-gap: 20px;
  -moz-column-count: 7;
  -moz-column-gap: 20px;
  column-count: 7;
  column-gap: 20px;
}
.c8 {
  -webkit-column-count: 8;
  -webkit-column-gap: 20px;
  -moz-column-count: 8;
  -moz-column-gap: 20px;
  column-count: 8;
  column-gap: 20px;
}
.c9 {
  -webkit-column-count: 9;
  -webkit-column-gap: 20px;
  -moz-column-count: 9;
  -moz-column-gap: 20px;
  column-count: 9;
  column-gap: 20px;
}
.c10 {
  -webkit-column-count: 10;
  -webkit-column-gap: 20px;
  -moz-column-count: 10;
  -moz-column-gap: 20px;
  column-count: 10;
  column-gap: 20px;
}
.c11 {
  -webkit-column-count: 11;
  -webkit-column-gap: 20px;
  -moz-column-count: 11;
  -moz-column-gap: 20px;
  column-count: 11;
  column-gap: 20px;
}
.c12 {
  -webkit-column-count: 12;
  -webkit-column-gap: 20px;
  -moz-column-count: 12;
  -moz-column-gap: 20px;
  column-count: 12;
  column-gap: 20px;
}

/* Non Grid Columns */
.half {
  float: left;
  width: 47%;
  margin: 0 2% 0 0;
}
.third {
  float: left;
  width: 30%;
  margin: 0 2% 0 0;
}
.quarter {
  float: left;
  width: 22%;
  margin: 0 2% 0 0;
}

/* Content */
.content {
  margin: 0 auto;
  width: 960px;
}

/* Sections */
h1 {
  font-size: 4em;
  margin: 0 0 10px 0;
  color: #394352;
  line-height: 1em;
}
h2 {
  font-size: 2.5em;
  margin: 0 0 10px 0;
  color: #394352;
  line-height: 1em;
}
h3 {
  font-size: 2em;
  margin: 0 0 10px 0;
  color: #394352;
  line-height: 1em;
}
h4 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}
h5 {
  font-size: 1.1em;
  margin: 0 0 10px 0;
}
h6 {
  font-size: 1em;
  margin: 0 0 10px 0;
}
address {
  margin: 0 0 40px 0;
  line-height: 1.5em;
}

/* Grouping Content */
p {
  margin: 0 0 40px 0;
  line-height: 1.5em;
}
p + p {
  margin: -20px 0 40px 0;
}
p.halfMargin {
  margin: 0 0 20px 0;
  line-height: 1.5em;
}

.list_explanation {
  margin: 0.5em 0;
}
hr {
  clear: both;
  display: block;
  overflow: hidden;
  border: none;
  border-top: 1px solid #d1d1d1;
  margin: 2em 0;
}
hr.black {
  margin: 1em 0;
  border-top: 1px solid #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
blockquote {
  margin: 0 0.5em 1.2em 0.5em;
  border: 1px dotted #d1d1d1;
  padding: 0.5em;
  line-height: 1.5em;
  font-style: italic;
}
figure {
  margin: 0 0 1.2em 0;
  line-height: 1.5em;
}
figcaption {
  font-size: 0.9em;
  margin: 0 0 1em 0;
  border-bottom: 1px dotted #d1d1d1;
  padding: 0 0 0.5em 0;
}

/* Text-Level */
em {
  font-family: 'amblelight_condensed_italic', sans-serif;
}
strong {
  font-family: 'amblebold', sans-serif;
}
small {
  font-size: 0.9em;
  color: #767676;
}
s {
  text-decoration: line-through;
  color: #b00000;
  background: #fffaf4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 2px #fffaf4;
  -moz-box-shadow: 0px 0px 4px 0px #fffaf4;
  box-shadow: 0px 0px 4px 2px #fffaf4;
}
cite {
  font-family: 'amblelight_condensed_italic', sans-serif;
  padding: 0 0.2em;
}
q {
  quotes: none;
  font-family: 'amblelight_condensed_italic', sans-serif;
}
q:before,
q:after {
  content: '';
  content: none;
}
dfn {
  border-bottom: 1px dotted #595959;
  cursor: help;
}
abbr {
  border-bottom: 1px dotted #595959;
  cursor: help;
}
data {
  font-family: Courier, monospace;
}
time {
  font-family: Courier, monospace;
}
code {
  font: normal normal normal 100% Courier, monospace;
  color: #cda869;
  background: #222222;
  padding: 0.2em 0.4em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  overflow: auto;
}
.code_inline {
  display: inline-block;
}
var {
  color: #000000;
  font: italic normal normal 1.2em Georgia, serif;
}
samp {
  font: normal normal normal 100% Courier, monospace;
  color: #333333;
  background: #ffffff;
  padding: 0.2em 0.4em;
  border: 1px solid #d1d1d1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
kbd {
  font: normal normal normal 100% Courier, monospace;
  color: #000000;
  background: #595959;
  padding: 0.2em 0.4em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  border: 1px solid #d1d1d1;
  background-color: #dddddd;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dddddd),
    to(#ffffff)
  ); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(
    top,
    #dddddd,
    #ffffff
  ); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #dddddd, #ffffff); /* IE10 */
  background-image: -o-linear-gradient(top, #dddddd, #ffffff); /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #dddddd, #ffffff);
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
i {
  font-family: 'amblelight_condensed_italic', sans-serif;
}
b {
  font-family: 'amblebold', sans-serif;
}
u {
  text-decoration: none;
  border-bottom: 1px dotted #595959;
}
mark {
  background: #fffaaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 2px #fffaaa;
  -moz-box-shadow: 0px 0px 4px 2px #fffaaa;
  box-shadow: 0px 0px 4px 2px #fffaaa;
  padding: 0 0.2em;
}

/* Edits */
ins {
  color: #205e04;
  background: #e9f5e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 2px #e9f5e9;
  -moz-box-shadow: 0px 0px 4px 2px #e9f5e9;
  box-shadow: 0px 0px 4px 2px #e9f5e9;
  text-decoration: none;
}
del {
  text-decoration: line-through;
  color: #b00000;
  background: #fffaf4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 2px #fffaf4;
  -moz-box-shadow: 0px 0px 4px 2px #fffaf4;
  box-shadow: 0px 0px 4px 2px #fffaf4;
}

/* Embedded */
img {
  display: inline-block;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
embed {
  /* remove if unstyled */
}
object {
  /* remove if unstyled */
}
param {
  /* remove if unstyled */
}
video {
  /* remove if unstyled */
}
.fit_img {
  width: 100%;
  display: block;
}
.max_img {
  width: auto;
  max-width: 100%;
  display: block;
}

/* Hyperlinks */
.link:link,
.link:visited {
  text-decoration: none;
  color: rgb(067, 091, 013);
  border-bottom: 1px solid rgb(067, 091, 013);
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.link:hover,
.link:visited:hover .link:focus {
  color: #ffffff;
  background: rgb(067, 091, 013);
  padding: 0.1em;
  text-decoration: none;
  border-bottom: none;
  text-shadow: 1px 1px 2px #000000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.link_block:link,
.link_block:visited {
  text-decoration: none;
  color: #000000;
  background: #e1e1e1;
  display: block;
  margin: 0 0 1.5em 0;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.link_block:hover,
.link_block:focus {
  text-decoration: none;
  color: #ffffff;
  background: #595959;
  display: block;
  margin: 0 0 1.5em 0;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.link_block:hover h1,
.link_block:hover h2,
.link_block:hover h3,
.link_block:hover h4,
.link_block:hover h5,
.link_block:hover h6 {
  color: #ffffff;
}
.link_details {
  color: #575757;
  font-size: 0.9em;
  font-weight: normal;
}
.link:hover .link_details {
  color: #002138;
  font-size: 0.9em;
  font-weight: normal;
}
.link_teaser:link,
.link_teaser:visited {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  padding: 0.5em;
  color: #000000;
  display: block;
}
.link_teaser:hover,
.link_teaser:focus {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  padding: 0.5em;
  color: #000000;
  background: #e1e1e1;
  display: block;
}
.link_teaser .teaser_text {
  float: left;
  width: 65%;
}
.link_teaser .teaser_img {
  float: right;
  width: 33%;
}
.link_button:link,
.link_button:visited {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 1em 2em;
  background-color: #0072df;
  display: inline-block;
}
.link_button:hover,
.link_button:focus {
}
.file_info {
  display: none;
}
.link:hover .file_info,
.link:focus .file_info {
  color: #606060;
  background: #f1f1f1;
  border-top: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  font-size: 0.9em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 0.2em 0.5em 0 0.5em;
  margin: 0.2em 0 0 0.4em;
  white-space: nowrap;
  display: block;
  position: absolute;
  z-index: 99;
}

/* Lists */
.ol_decimal {
  list-style: decimal;
  margin: 0 0 1.2em 2em;
}
.ol_decimal li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.ol_alpha {
  list-style: upper-alpha;
  margin: 0 0 1.2em 2em;
}
.ol_alpha li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.ol_roman {
  list-style: upper-roman;
  margin: 0 0 1.2em 2em;
}
.ol_roman li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.ul_plain {
  margin: 0 0 1.2em 0;
}
.ul_plain li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.ul_disc {
  list-style: disc;
  margin: 0 0 1.2em 0;
}
.ul_disc li {
  margin: 0.5em 0 0.5em 1.5em;
  line-height: 1.2em;
}
.ul_square {
  list-style: square;
  margin: 0 0 1.2em 0;
}
.ul_square li {
  margin: 0.5em 0 0.5em 1.5em;
  line-height: 1.2em;
}
.ul_divided {
  margin: 0 0 1.2em 0;
}
.ul_divided li {
  padding: 0.4em 0;
  line-height: 1.4em;
  border-bottom: 1px dotted #595959;
}
.ul_inline {
  margin: 0 0 1.2em 0;
}
.ul_inline li {
  display: inline;
  border-left: 1px dotted #595959;
  padding: 0 0.2em 0 0.5em;
  line-height: 1.7em;
}
.ul_inline > li:first-child {
  border: none;
  padding-left: 0;
}
.dl {
  margin: 0 0 1.2em 0;
}
.dl dt {
  font-family: 'amblebold', sans-serif;
  color: #444444;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.2em;
}
.dl dd {
  margin: 0.5em 0 0.5em 0;
  padding: 0 0 0 0.5em;
  line-height: 1.2em;
}

/* Tablular Data */
.table {
  margin: 0.2em 0 1.8em 0;
  width: 100%;
}
.table caption {
  text-align: left;
  font-size: 1.2em;
  font-family: 'amblebold', sans-serif;
  margin: 1em 0 0.2em 0;
}
.title_row {
  color: #eeeeee;
  background: #333333;
  border-top: 1px solid #d1d1d1;
}
.table th,
.table td {
  padding: 0.4em 0.8em;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
.th_column {
  text-align: center;
  font-family: 'amblebold', sans-serif;
}
.th_row {
  text-align: center;
  font-family: 'amblebold', sans-serif;
}
tr {
  border-left: 1px solid #d1d1d1;
}
.table_row {
  background: #ffffff;
}
.table_row_alt {
  background: #f1f1f1;
}

/* Forms */
.form_fieldsets {
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 1px 0px #555555;
  box-shadow: 0px 0px 1px 0px #555555;
  padding: 1em 0;
}
.form {
  margin: 0 0 1.5em 0;
}
.form legend {
  font-size: 1.4em;
  font-family: 'amblebold', sans-serif;
  margin: 0 0 0.25em 0;
  width: 100%;
}
.form .form_errors {
  margin: 0 0 2em 0;
}
.form .form_errors li {
  margin: 1em 0;
  line-height: 1.4em;
}
.form .input_error_link:link,
.form .input_error_link:visited {
  color: #b40000;
  text-decoration: none;
  border-bottom: 1px solid #d49f9f;
}
.form .input_error_link:hover,
.form .input_error_link:focus {
  color: #b40000;
  text-decoration: none;
  border-bottom: 1px solid #b40000;
}
.form .form_instructions {
  padding: 0.5em 0;
  font-family: 'amblelight_condensed_italic', sans-serif;
}
.form fieldset {
  margin: 0 0 1.5em 0;
}
.form fieldset .form_instructions {
  padding: 0.2em 0 0.5em 0;
  color: #555555;
  font-family: 'amblelight_condensed_italic', sans-serif;
}
.form em {
  color: #b40000;
  font-size: 0.9em;
}
.form .form_item {
  padding: 0.2em 0 0.2em 0;
}
.form .form_item_standout {
  padding: 0.2em 0 0.8em 0;
}
.form .form_item_related {
  padding: 0.2em 1em 0 0;
  float: left;
}
.form label {
  cursor: pointer;
  margin: 0 0 0.2em 0;
}
.form .label {
  display: block;
}
.form .label_checklist {
  margin: 0 0 0.2em 0;
}
.form .label_check {
  padding: 0 0.5em 0 0;
  line-height: 2em;
}
.form .label_check_slim {
  padding: 0 0.5em 0 0;
  line-height: 1.2em;
}
.form .input_sub {
  font-weight: normal;
  color: #444444;
  font-size: 0.8em;
  display: block;
  line-height: 1.2em;
  margin: 0 0 0 1.4em;
}
.form .label_radio {
  padding: 0 0.5em 0 0;
}
.form input {
  font: 100% arial, sans-serif;
}
.form .textfield {
  font: 1.2em arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.3em 0.1em;
  border: 1px solid #bebebe;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 98%;
  color: #111111;
}
.form .textarea {
  font: 1.2em arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.3em 0.1em;
  border: 1px solid #bebebe;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 98%;
  color: #111111;
}
.form .select_box {
  font: 1.2em arial, sans-serif;
  font-weight: bold;
  margin: 0.2em 0 0.5em 0;
  padding: 0.2em 0.1em;
  width: 98%;
}
.form .browse_file {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0.1em;
  width: 98%;
}
.form .form_button,
.form_button {
  font: 100% arial, sans-serif;
  font-color: #ffffff;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0.8em;
  border: 1px solid rgb(067, 091, 013);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eae6db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eae6db), to(#eae6db));
  background-image: -webkit-linear-gradient(top, #eae6db, #eae6db);
  background-image: -moz-linear-gradient(top, #eae6db, #eae6db);
  background-image: -ms-linear-gradient(top, #eae6db, #eae6db);
  background-image: -o-linear-gradient(top, #eae6db, #eae6db);
  background-image: linear-gradient(top, #eae6db, #eae6db);
  text-shadow: 1px 1px 0 #ffffff;
  /*-webkit-box-shadow: 0 1px 0 0 #ffffff;*/
  /*box-shadow: 0 1px 0 0 #ffffff;*/
  cursor: pointer;
}
.form .form_button:hover,
.form .form_button:focus,
.form_button:hover,
.form_button:focus {
  text-decoration: none;
  color: #ffffff;
  background: rgb(067, 091, 013);
  border: 1px solid #eae6db;
  text-shadow: none;
}
.form .textarea.input_active,
.form .textfield.input_active {
  -webkit-box-shadow: inset 0px 0px 5px #c7e1ff;
  -moz-box-shadow: inset 0px 0px 5px #c7e1ff;
  box-shadow: inset 0px 0px 5px #c7e1ff;
}
.form .form_actions {
  clear: both;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  text-align: right;
  border-top: 1px solid #999999;
}
.form .form_list_sub {
  margin: 0 0 0 1.9em;
}
.form .month {
  width: 3em;
}
.form .day {
  width: 3em;
}
.form .year {
  width: 5em;
}
.form .state {
  width: 3em;
}
.form .zip {
  width: 5em;
}
.form em.input_error {
  display: block;
}
.form .required {
  background: #767676;
  color: #ffffff;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 0 0.2em;
  vertical-align: top;
}

/* Placeholders */
.textfield::-webkit-input-placeholder {
  color: #767676;
  font-weight: normal;
}
.textfield:-moz-placeholder {
  color: #767676;
  font-weight: normal;
}
.textfield:-ms-input-placeholder {
  color: #767676;
  font-weight: normal;
}
.textarea::-webkit-input-placeholder {
  color: #767676;
  font-weight: normal;
}
.textarea:-moz-placeholder {
  color: #767676;
  font-weight: normal;
}
.textarea:-ms-input-placeholder {
  color: #767676;
  font-weight: normal;
}

/* Table Forms */
.table_form {
  margin: 0;
}
.table_form legend {
  font-size: 1.2em;
  font-family: 'amblebold', sans-serif;
}
.table_form .form_errors {
  margin: 0 0 1.2em 0;
}
.table_form .form_errors li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.table_form .form_instructions {
  padding: 0.5em 0;
  font-family: 'amblelight_condensed_italic', sans-serif;
}
.table_form fieldset {
  margin: 0 0 1.5em 0;
}
.table_form fieldset .form_instructions {
  padding: 0.2em 0 0.5em 0;
  color: #555555;
  font-family: 'amblelight_condensed_italic', sans-serif;
}
.table_form em {
  color: #b40000;
  font-size: 0.9em;
}
.table_form .form_item {
  padding: 0.2em 0 0.2em 0;
}
.table_form .form_item_standout {
  padding: 0.2em 0 0.8em 0;
}
.table_form .form_item_related {
  padding: 0.2em 1em 0 0;
  float: left;
}
.table_form label {
  cursor: pointer;
}
.table_form .label {
}
.table_form .label_check {
  padding: 0 0.5em 0 0;
}
.table_form .label_radio {
  padding: 0 0.5em 0 0;
}
.table_form input {
  font: 100% arial, sans-serif;
}
.table_form .textfield {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.3em 0.1em;
  border: 1px solid #bebebe;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 10em;
}
.table_form .textarea {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.3em 0.1em;
  border: 1px solid #bebebe;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 10em;
}
.table_form .select_box {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0.1em;
  max-width: 90%;
}
.table_form .browse_file {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0.1em;
}
.table_form .form_button {
  font: 100% arial, sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0.8em;
  border: 1px solid #bebebe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -ms-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -o-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: linear-gradient(top, #ffffff, #d1d1d1);
  text-shadow: 1px 1px 0 #ffffff;
  cursor: pointer;
}
.table_form .textarea.input_active,
.table_form .textfield.input_active {
  -webkit-box-shadow: inset 0px 0px 5px #c7e1ff;
  -moz-box-shadow: inset 0px 0px 5px #c7e1ff;
  box-shadow: inset 0px 0px 5px #c7e1ff;
}
.table_form .form_actions {
  clear: both;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  text-align: right;
  border-top: 1px solid #999999;
}

/* Notices */
.notice {
  margin: 0 0 1.2em 0;
  border: 1px solid #777777;
  padding: 0.8em 1em 0 1em;
  background: #f1f1f1;
  color: #515151;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notice h2 {
  font-size: 1.2em;
  color: #515151;
}
.notice_positive {
  margin: 0 0 1.2em 0;
  border: 1px solid #205e04;
  padding: 0.8em 1em 0 1em;
  background: #e9f5e9;
  color: #205e04;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notice_positive h2 {
  font-size: 1.2em;
  color: #205e04;
}
.notice_negative {
  margin: 0 0 1.2em 0;
  border: 1px solid #b00000;
  padding: 0.8em 1em 0 1em;
  background: #fffaf4;
  color: #b00000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notice_negative h2 {
  font-size: 1.2em;
  color: #b00000;
}
.notice_attention {
  margin: 0 0 1.2em 0;
  border: 1px solid #b09457;
  padding: 0.8em 1em 0 1em;
  background: #f8f4dc;
  color: #605130;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notice_attention h2 {
  font-size: 1.2em;
  color: #605130;
}

/* Content */
.teaser {
  margin: 1em 0;
  padding: 0 0 1em 0;
  color: #000000;
  display: block;
}
.teaser .teaser_text {
  float: left;
  width: 81%;
  margin: 0 0 0 4%;
}
.teaser .teaser_img {
  float: left;
  width: 13%;
}

/* Pagination - Results */
.pages {
  padding: 1em 0 1em 0;
  float: left;
  width: 70%;
}
.pages a:link,
.pages a:visited {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.4em;
  color: #686871;
  text-decoration: none;
  line-height: 1.8em;
  background: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pages a:hover,
.pages a:focus {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.4em;
  background: #595959;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.8em;
}
.pages a.current_page {
  background: #595959;
  color: #ffffff;
  border: 1px solid #595959;
}
.pages .forward_back:link,
.pages .forward_back:visited {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.3em;
  color: #595959;
  text-decoration: none;
  line-height: 1.8em;
  background: #d1d1d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
  background-image: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
  background-image: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
  background-image: linear-gradient(top, #f1f1f1, #d1d1d1);
}
.pages .forward_back:hover,
.pages .forward_back:focus {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.3em;
  background: #595959;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.8em;
}
.results {
  padding: 1em 0 1em 0;
  float: right;
  text-align: right;
}
.results a:link,
.results a:visited {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.4em;
  color: #595959;
  text-decoration: none;
  line-height: 1.8em;
  background: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.results a:hover,
.results a:focus {
  border: 1px solid #bbbbbb;
  padding: 0.1em 0.4em;
  background: #595959;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.8em;
}
.results a.current_results {
  background: #595959;
  color: #ffffff;
  border: 1px solid #595959;
}

/*******************************************
 Main Styles *****************************/

/* Masthead */
#masthead {
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 99;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px);
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 0.9);
}
#brand {
  position: relative;
  margin: 6px;
  /*-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;*/
}

#brand img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#brand a {
  color: #ffffff;
  text-decoration: none;
  /*font-family: 'ambleregular', sans-serif;*/
}

.site_login {
  position: absolute;
  top: 0px;
  right: 100px;
  z-index: 100;
  display: inline-block;
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 0);
  cursor: pointer;
}
.site_login.close {
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 1);
}
.login_title {
  position: absolute;
  top: 12px;
  right: 40px;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#login_icon {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.site_menu {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 100;
  display: inline-block;
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 0);
  cursor: pointer;
}
.site_menu.close {
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 0);
}
.menu_title {
  position: absolute;
  /*top: 12px;*/
  right: 40px;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Main Navigation Menubar */
.menubar {
  background: rgb(004, 021, 003);
  background: rgba(004, 021, 003, 0.9);
  box-shadow: 0px 0px 10px 5px rgb(004, 021, 003);
  color: #ffffff;
  width: 250px;
  padding: 5px 0 0 0;
  position: absolute;
  right: 0;
  display: none;
}
#menu_icon {
  padding: 10px;
  position: relative;
}
.menu_close {
  position: absolute;
  top: 11px;
  left: 10px;
  opacity: 0;
}
.site_menu.close .menu_close {
  position: absolute;
  top: 11px;
  left: 10px;
  opacity: 1;
}
.menubar .nav_list {
  list-style: none;
  z-index: 1;
  border: none;
}
.menubar .nav_list_item {
  position: relative;
}
.menubar .nav_parent:link,
.menubar .nav_parent:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menubar .nav_parent:hover,
.menubar .nav_parent:focus {
  background: rgb(067, 091, 013);
}
.menubar .nav_list_item_contact {
  position: relative;
  line-height: 1.2em;
  background: rgb(067, 091, 013);
  padding: 10px;
}
.menubar .nav_list_item_contact .nav_parent:link,
.menubar .nav_list_item_contact .nav_parent:visited {
  padding: 0px;
}

/* Social Links */
.social {
  border-top: 1px solid #000000;
  height: 41px;
  text-align: center;
  background: rgb(067, 091, 013);
}
.facebook,
.youtube,
.twitter,
.instagram {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  margin: 10px 4px 10px 4px;
}
.facebook:link,
.facebook:visited {
  background: url(./images/facebook.jpg) left top no-repeat;
}
.facebook:hover,
.facebook:focus {
  background: url(./images/facebook.jpg) left bottom no-repeat;
}
.youtube:link,
.youtube:visited {
  background: url(./images/youtube.jpg) left top no-repeat;
}
.youtube:hover,
.youtube:focus {
  background: url(./images/youtube.jpg) left bottom no-repeat;
}
.twitter:link,
.twitter:visited {
  background: url(./images/twitter.jpg) left top no-repeat;
}
.twitter:hover,
.twitter:focus {
  background: url(./images/twitter.jpg) left bottom no-repeat;
}
.instagram:link,
.instagram:visited {
  background: url(./images/instagram.jpg) left top no-repeat;
}
.instagram:hover,
.instagram:focus {
  background: url(./images/instagram.jpg) left bottom no-repeat;
}
.social_link {
  margin: 20px;
}

/* Main */
#main {
  position: relative;
  top: 0;
}
#main_push {
  position: absolute;
  top: 100%;
  width: 100%;
}

/* Brand Splash */
#brand_splash {
  /*background: #ffffff url("images/lilly.jpg") no-repeat right top;
  background-size: cover;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.background_img {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.background_img.homepage {
  background: #000000 url('./images/koi-lily-1920.jpg') no-repeat;
  background-position: 50% 0px;
  background-size: cover;
}
.background_img.iaijutsu {
  background: #000000 url('./images/kobushidori-1500.jpg') no-repeat;
  background-position: 50% 0px;
  background-size: cover;
}
.background_img.naginatajutsu {
  background: #000000 url('./images/naginata-sune-1500.jpg') no-repeat;
  background-position: 50% 0px;
  background-size: cover;
}
.big_brand {
  width: 90%;
  max-width: 700px;
  min-height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
}
.logo {
  margin: 75px auto;
  width: 233px;
  max-width: 50%;
  position: relative;
}
.introduction {
  position: relative;
  z-index: 3;
  padding: 20% 0;
}
.intro_title {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  width: 80%;
  max-width: 700px;
  margin: 40px auto 0 auto;
}
.intro {
  color: #ffffff;
  text-shadow: 2px 1px #000000;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.7em;
  line-height: 1.3em;
}
.introduction .intro .link_button:link,
.introduction .intro .link_button:visited {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 0.5em 1em;
  background-color: rgb(100, 100, 100);
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  margin: 1em 0 0 0;
  font-size: 0.6em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.introduction .intro .link_button:hover,
.introduction .intro .link_button:focus {
  color: #000000;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 1);
}
.scroll_cue {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 4;
}
.scroll_cue a {
  padding: 25px 25px;
}

/* Homepage Quote Panel */
#quote.home {
  background: rgb(110, 024, 011);
  color: #ffffff;
  top: 100%;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  position: relative;
  z-index: 2;
}
#quote {
  position: relative;
  background: #0072df;
  color: #ffffff;
  z-index: 2;
  top: 40px;
}
#quote .intro {
  width: 90%;
  max-width: 700px;
  margin: 100px auto;
  font-size: 2.2em;
  line-height: 1.2em;
}
#quote .fine_print {
  font-size: 0.5em;
  white-space: nowrap;
}
#quote .intro .link:link,
#quote .intro .link:visited {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#quote .intro .link:hover,
#quote .intro .link:focus {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.quote_snapshots {
  width: 100%;
}
.quote_snapshot {
  position: relative;
  width: 33.3333333%;
  float: left;
  text-decoration: none;
  display: block;
  color: #ffffff;
  overflow: hidden;
}
.snapshot_info {
  display: inline-block;
  width: auto;
  min-width: 50%;
  height: 2.6em;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.snapshot_title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  font-size: 1em;
  line-height: 1.1em;
  font-family: 'amblelight_condensed', sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.snapshot_details {
  opacity: 0;
  padding: 40px 20px;
  font-family: 'amblelight_condensed', sans-serif;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.snapshot_icon {
  opacity: 1;
  padding: 1px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quote_snapshot:hover .snapshot_info,
.quote_snapshot:focus .snapshot_info {
  width: 100%;
  height: 100%;
}
.quote_snapshot:hover .snapshot_title,
.quote_snapshot:focus .snapshot_title {
  font-size: 3em;
  font-family: 'amblelight_condensed', sans-serif;
}
.quote_snapshot:hover .snapshot_details,
.quote_snapshot:focus .snapshot_details {
  opacity: 1;
  font-family: 'amblelight_condensed', sans-serif;
  padding: 20px;
}
.quote_snapshot:hover .snapshot_icon,
.quote_snapshot:focus .snapshot_icon {
  opacity: 0;
}
#quote_landing {
  margin: 0;
  padding: 40px 0 0 0;
  position: relative;
  z-index: 2;
}

/* Homepage Footer */
#isshin {
  background: #eae6db;
  padding: 1px 0 10px 0;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  position: relative;
  z-index: 2;
}
#isshin .intro {
  width: 90%;
  max-width: 700px;
  margin: 100px auto;
  font-size: 2.2em;
  line-height: 1.2em;
}

/* Interior pages */
#parallax_intro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  background: #000000;
}

.client_logo {
  width: 80%;
  max-width: 700px;
  margin: 40px auto 0 auto;
}
#screen_shots {
  position: relative;
  z-index: 4;
  background: #ffffff;
}
.screen_shot_panels {
  position: relative;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
#testimonial {
  background: rgb(067, 091, 013);
  color: #ffffff;
  position: relative;
  z-index: 5;
}
.quote {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  font-size: 1.7em;
  line-height: 1.3em;
}
.attribute {
  font-family: 'amblelight_condensed_italic', sans-serif;
  font-size: 0.8em;
}

/* Gallery */
.hilite_group {
  background: #eae6db;
  position: relative;
  overflow: hidden;
}
.hilite_img_placeholder {
  width: 100%;
  height: 100%;
}
.horizontal_gallery {
  width: 100%;
  overflow: hidden;
}
.gallery_imgs {
  width: 80%;
  max-width: 1200px;
  margin: 80px auto 100px;
  position: relative;
  overflow: hidden;
}
.horizontal_gallery_img {
  width: 100%;
  overflow: hidden;
  float: left;
  display: block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 7px;
  position: absolute;
  top: 0;
}
.horizontal_gallery_img .fit_img {
  position: relative;
  width: 100%;
}
.horizontal_gallery_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 1em;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
  padding: 0 0 12px 0;
}
.horizontal_gallery_text,
.horizontal_gallery_text {
}
.horizontal_gallery_text:hover,
.horizontal_gallery_text:focus {
  background: rgb(255, 0, 0);
  background: rgba(255, 0, 0, 1);
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 1);
  /*cursor: help;*/
}
.horizontal_gallery_caption {
  font-weight: bold;
  margin: 10px 10px 0 10px;
}
.horizontal_gallery_attribution {
  margin: 0px 10px 0 10px;
}
.gallery_message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.gallery_message .link_button {
  margin-top: 30%;
}

.horizontal_gallery_control {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
}
.horizontal_gallery_control .prev_control {
  float: left;
  cursor: pointer;
  color: rgb(110, 024, 011);
  width: 50px;
  text-align: left;
  padding-left: 10px;
}
.horizontal_gallery_control .prev_slide {
  font-size: 5em;
}
.horizontal_gallery_control .next_control {
  float: right;
  cursor: pointer;
  color: rgb(110, 024, 011);
  width: 50px;
  text-align: right;
  padding-right: 10px;
}
.horizontal_gallery_control .next_slide {
  font-size: 5em;
}

.horizontal_gallery .horizontal_gallery_nav_group {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
}
.horizontal_gallery .horizontal_gallery_nav {
  width: 10px;
  height: 10px;
  background: rgb(110, 024, 011);
  overflow: hidden;
  display: inline-block;
  cursor: default;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid rgb(110, 024, 011);
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
  cursor: pointer;
}
.horizontal_gallery .horizontal_gallery_nav:hover,
.horizontal_gallery_nav:focus {
  background: rgb(110, 024, 011);
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 1;
}
.horizontal_gallery .horizontal_gallery_nav_active {
  width: 12px;
  height: 12px;
  background: rgb(110, 024, 011);
  overflow: hidden;
  display: inline-block;
  cursor: default;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid rgb(110, 024, 011);
  margin-bottom: 7px;
  margin-left: 4px;
  margin-right: 4px;
}
.horizontal_gallery .horizontal_gallery_nav_text {
  padding: 10px;
}

/* Service Intro */
#service_intro {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.service_logo {
  margin: 0 auto 40px;
}
.service_logo img {
  width: 100px;
  margin: 0 auto;
}

.info_panel_details {
  background: #aaa88f;
  z-index: 2;
  position: relative;
}
.info_panel_details h1,
.info_panel_details h2,
.info_panel_details h3,
.info_panel_details h4,
.info_panel_details p,
.info_panel_details strong,
.info_panel_details li {
  color: #000000;
}
.info_panel_details .form_fieldsets {
  color: #000000;
}

.panel_content {
  padding: 100px 0;
  border-top: none;
}

#about .content {
  padding: 60px 0;
}
.cards {
  padding: 20px 0 0 0;
  text-align: center;
}
.card {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  font-family: arial, sans-serif;
  font-weight: bold;
  position: relative;
  margin: 20px auto;
  font-size: 0.8em;
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(top, #f1f1f1, #fdfdfd);
  background-image: linear-gradient(to bottom, #f1f1f1, #fdfdfd);
  width: 100%;
  max-width: 300px;
  text-align: left;
}
.card img {
  position: absolute;
  width: 100px;
}
.card h4 {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.8);
}
.card_message {
  padding: 40px 20px 70px 20px;
}
.one {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
.two {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.three {
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  transform: rotate(-0.5deg);
}

.icons {
  padding: 0 40px;
}

.pull_out {
  padding: 20px;
  color: #ffffff;
  background: rgb(121, 128, 138);
}
.pull_out h2 {
  color: #ffffff;
}

/* Page Footer */
#page_footer {
  background: #ffffff;
  z-index: 99;
  position: relative;
  display: none;
}

/* Misc */
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.open_quote {
  display: inline-block;
  margin: 0 0 0 -0.3em;
}
* {
  outline: 0;
}
.space {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* HTML Content from CMS */
.html_content h2 {
  font-size: 1.2em;
  color: #000000;
  margin: 0 0 0.3em 0;
}
.html_content h3 {
  font-size: 1em;
  margin: 0 0 0.2em 0;
  color: #000000;
}
.html_content p {
  margin: 0 0 1.2em 0;
  line-height: 1.5em;
}
.html_content a,
.html_content a:visited {
  text-decoration: none;
  color: #3386d7;
  border-bottom: 1px solid #f1f1f1;
}
.html_content a:hover,
.html_content a:focus {
  text-decoration: none;
  color: #002138;
  border-bottom: 1px solid #002138;
}
.html_content strong {
  font-family: 'amblebold', sans-serif;
}
.html_content em {
  font-family: 'amblelight_condensed_italic', sans-serif;
}
.html_content ol {
  list-style: decimal;
  margin: 0 0 1.2em 2em;
}
.html_content ol li {
  margin: 0.5em 0;
  line-height: 1.2em;
}
.html_content ul {
  list-style: disc;
  margin: 0 0 1.2em 0;
}
.html_content ul li {
  margin: 0.5em 0 0.5em 1.5em;
  line-height: 1.2em;
}

/* Full Site View */
.full_view {
  display: none;
}
.full_view_link,
.full_view_link:visited {
  background: #ffffff;
  color: #999999;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  text-align: center;
  font-size: 1.2em;
  margin: 2em auto;
  width: 300px;
  max-width: 90%;
  border: 1px solid #e1e1e1;
}
.full_view_link:hover,
.full_view_link:focus {
  background: #ffffff;
  color: #666666;
}

/*******************************************
 HTML5 Boilerplate Cont. Leave at Bottom */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
