---
import StandardLayout from '../layouts/StandardLayout.astro';
---
<StandardLayout title="Traditional Japanese Swordsmanship" desc="test" path={Astro.url.pathname}>
  <main><h1>layout smoke</h1></main>
</StandardLayout>
