---
import '../styles/master.css';
import '../styles/responsive.css';
---
<html lang="en">
  <head><meta charset="utf-8" /><title>styles smoke</title></head>
  <body><h1 class="cover-title">Font + base CSS smoke test</h1></body>
</html>
